{% extends 'base.html.twig' %}

{% block title %}Liste des Messages{% endblock %}

{% block body %}
    <h1>Liste des Messages</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Titre</th>
                <th>Canal</th>
                <th>SentAt</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for message in messages %}
            <tr>
                <td>{{ message.id }}</td>
                <td>{{ message.title }}</td>
                <td>{{ message.choice }}</td>
                         {{ dump(message) }}
                <td>{{ message.EmissionDate ? message.EmissionDate|date('Y-m-d H:i:s') : '' }}</td>
                <td>
                    <a href="{{ path('message_show', {'id': message.id}) }}">{{ "Voir"|button('primary') }}</a>
                    <a href="{{ path('message_edit', {'id': message.id}) }}">{{ "Editer"|button('warning') }}</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">pas de message en base de données</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('message_new') }}">{{ "Créer"|button("success") }}</a>
{% endblock %}
